<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Lrn</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>
	<!--A basic navigation bar so we can link to the different
		pages until the home page is built
	-->
   	 <nav>
		<a href="profilePath()">MyProfile</a>
		<a href="/#">Messages</a>
		<a href="/#">Find</a>
		<a href="/#">MyRequests</a>
		<a href="/#">MyReviews</a>

	</nav>
    <div class="container">
      <%= partial("flash.html") %>
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
