</head>

  <body>

    <!-- Page Content -->
    <div class="container">

          <!-- Introduction Row -->
      <h1 class="my-4">Profiles
        <div-class="row">
      </h1>

   <div class="col-lg-12">
          <h2 class="my-4">Results, send a request if you want to interact!</h2>
        </div>
       
      <!-- Browse Tutor and Tutee Profiles -->
     <%= for (result) in results { %>
     <% let count = 0 %>

      <div class="row">

          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>"Bio, subjects"</p>
          <button class = "btn " role= "Request">Request</button>
          <h3> 
          </h3>
      </div>
        <% } %>

      <% contentFor("extraHeadArgs") { %>
      <% }  %>
