
    <!-- Page Content -->
      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4"></h1>
          <div class="list-group  m_cFixed m_cBlock">
            <a href="#m_iPersonalInfo" class="list-group-item active">Personal Information</a>
            <a href="#m_iSubjects" class="list-group-item" title="Jump to subjects">Subjects</a>
            <a href="#m_iLanguages" class="list-group-item" title="Jump to languages">Languages</a>
            <a href="#m_iTutorSess" class="list-group-item" title="Jump to tutoring sessions">Tutoring Sessions</a>
            <a href="<%= updateProfilePath() %>" class="btn btn-success" title="Update profile">Update</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <h2 class="card-title">MyProfile</h2>
            <div class="m_cMulticontainer">
              <div class="m_cHalfpiece">
              <img class="card-img-top img-fluid m_cImg" src="<%= assetPath("images/selfie.png") %>" alt="user profile picture">
              </div>
                <div class="card-header halfpiece m_cCenterBox">
                  <div class="card-header">
                    <h1 > <%= username %> </h1>
                  </div>
                </div>
                <!--<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars-->
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h2 id="m_iPersonalInfo" class="card-title">Personal Information</h2>
            </div>
            <div class="card-body">
              <div class="m_cMulticontainer">
                <div class="m_cHalfpiece">
                <h4>Address</h4>
                <p class="card-text"> 
		<%= street %>
		  <br>
                <%= city %>, <%= state %> <%= zip %>
                </p>
                </div>
                <hr>
                <div class="m_cHalfpiece">
                <h4>Phone</h4>
                <p class="card-text"><%= phone %></p>
                </div>
                <hr>
              </div>
              <hr>
              <div class="m_cMulticontainer">
                <div class="m_cHalfpiece">
                <h4>Contact Email</h4>
                <p class="card-text"><%= contactEmail %></p>
                </div>
                <hr>
                <div class="m_cHalfpiece">
                <h4>Account Email</h4>
                <p class="card-text"><%= accountEmail %></p>
                </div>
                <hr>
              </div>
            </div>
          </div>

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h2 id="m_iSubjects">Subjects</h2>
              <small class="text-muted"><%= subjectDescription %></small>
            </div>
            <div class="card-body">
              <div class="m_cMulticontainer">
		<%= for (mainSubject) in mainSubjects { %>
                <div class="m_cHalfpiece">
                  <h4><%= mainSubject %></h4>
                  <ul>
		   <%= for (aClass) in subjectsAndClasses[mainSubject] { %>
                    <li><%= aClass %></li>
		   <% } %>
                  </ul>
                </div>
		<% } %>
              </div>
            </div>
          </div>
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h2 id="m_iLanguages">Languages</h2>
              <small class="text-muted"><%= langDescription%></small>
            </div>
            <div class="card-body">
              <div class="m_cMulticontainer">
                <div class="m_cHalfpiece">
                  <ul>
		    <%= for (lang) in languages1 { %>
                    	<li><%= lang %></li>
		    <% } %>
                  </ul>
                </div>
                <div class="m_cHalfpiece">
                  <ul>
		    <%= for (lang) in languages2 { %>
                    	<li><%= lang %></li>
		    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h2 id="m_iTutorSess">Tutoring Sessions</h2>
              <small class="text-muted">TODO</small>
            </div>
            <div class="card-body">
              <div class="m_cMulticontainer">
                <div class="m_cHalfpiece">
                </div>
                <div class="m_cHalfpiece">
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
     
      <% contentFor("extraHeadArgs") { %>
	<%= stylesheetTag("css/profile.css") %>
      <% }  %>

