<!-- Bootstrap core CSS-->

<!-- Custom fonts for this template
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

 Page level plugin CSS
<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

<html lang="en">-->
<!--
  <head>
    <div style="text-align: center;">


  <div style="background: #b9d6e4; border-radius: px 5px 0px 0px; padding: 15px;"><span style="font-family: arial; color: #ffffff; font-size: 3.00em; font-weight:bold;">REVIEWS</span>
    <div class="col-lg-8 mx-auto">
       <h1 class="text-lowerrcase" >
      <span style="color: #ffffff;font-size:.7em">read & write reviews!</span>
      </h1>

-->
<!-- Header -->
<div style="text-align: center;">
  <div style="background: #c8b2bc; border-radius: px 5px 0px 0px; padding: 15px;"><span style="font-family: arial; color: #ffffff; font-size: 3.00em; font-weight:bold;">REVIEWS</span>
    <div class="col-lg-8 mx-auto">
      <h1 class="text-lowerrcase" >
        <span style="color: #ffffff;font-size:.7em">write reviews & see your reviews</span>
      </h1>

    </div>


<!--
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
-->

  <!-- Content -->
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- DataTables Example -->

          <form method="POST">
            <%= csrf() %>

          <div class="card mb-3">
            <div class="card-header" align="left">
              <i class="fas"></i>
              <strong>  Write reviews for others!</strong></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Rating</th>
                      <th>Feedback</th>
                      <th>Submit Review</th>

                    </tr>
                  </thead>

                  <tbody>
                    <%= for (user) in pastUsers { %>
                    <tr class="review" uid="<%= user.ID %>">
                        <input type="hidden" name="First" value="<%= user.FirstName%>">
                        <td><p><%= user.FirstName + " " + user.LastName %></p></td>
                      <td><input type="number" name="Rating" min="1" max="10" value=""></td>
                      <td><input type="text" name="Description" value=""></td>
                      <td><input class="btn btn-light btn-xl js-scroll-trigger" type="button" value="Submit"> </td>
                    </tr>
                    <% } %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </form>
        </div>

        <form method="GET">
            <%= csrf() %>
          <div class="card mb-3">
            <div class="card-header" align="left">
              <i class="fas"></i>
              <strong> Your reviews from others!</strong>
            </div>
            <div class="card-body">
              <div class="table-responsive">
          <div class="row"><div class="col-sm-12">
                
                  <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Rating</th>
                      <th>Feedback</th>

                    </tr>
                  </thead>

                  <tbody>
                    <%= for (rev) in pastReviews { %>
                    <tr>
                      <td><%= user.FirstName + " " + user.LastName %></td>
                      <td><%= rev.Rating %></td>
                      <td><%= rev.Description  %></td>
                    </tr>
                   <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </form>
        </div>

        <!-- /.container-fluid -->
      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>

<!--
If your page additionally needs its own styling, add the styles here!
Example (warning! pseudo-syntax):

contentFor(“extrHeadArgs”) {
	stylesheetTag(“css/customstyle.css”)
}

(Note that in order for customstyle.css to be found, it must be inside “public/assets/css”).
 Otherwise, keep the contentFor block looking like so:

contentFor(“extrHeadArgs”) {
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

}
-->
    <% contentFor("extraHeadArgs") { %>
    <%= stylesheetTag("css/bootstrap.min.css") %>
  <%= stylesheetTag("css/all.min.css") %>
	<%= stylesheetTag("sb-admin.css") %>
    <% } %>
    <%= contentFor("jsArgs") { %>
      <%= javascriptTag("reviewsubmit.js") %>
    <% } %>
