    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>

          <!-- DataTables Example -->
          <form method="POST">
            <%= csrf() %>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Write a review for past tutors!</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Rating</th>
                      <th>Feedback</th>
                      <th>Date</th>
                      <th>Submit Review</th>>

                    </tr>
                  </thead>
                  <tfoot>
                  
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>Josh</td>
                      <td><input type="text" name="Rating" value=""></td>
                      <td><input type="text" name="Description" value=""></td>
                      <td>10/14/21</td>
                      <td><input type="submit" value="submit"> </td>
                    </tr>
                    
                    <tr>
                      <td>David</td>
                      <td><input type="text" name="Rating" value=""></td>
                      <td><input type="text" name="Description" value=""></td>
                      <td>10/20/21</td>
                      <td><input type="submit" value="submit"> </td>
                    </tr>
                   
                    <tr>
                      <td>Shaya</td>
                      <td><input type="text" name="Rating" value=""></td>
                      <td><input type="text" name="Description" value=""></td>
                      <td>10/28/20</td>
                      <td><input type="submit" value="submit"> </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
          </form>
        </div>


          <!-- DataTables Example -->
          <form method="GET">
            <%= csrf() %>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Your past reviews!</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Rating</th>
                      <th>Feedback</th>
                      <th>Date</th>

                    </tr>
                  </thead>
                  <tfoot>
                  
                  </tfoot>
                  <tbody>
		    <% let nameIndex = 0 %>
		    <% let rateIndex = 1 %>
		    <% let fbIndex = 2 %>
		    <% let dateIndex = 3 %>
	   	    <%= for (rating) in pastRatings { %>
                    <tr>
                      <td><%= rating[nameIndex] %></td>
                      <td><%= rating[rateIndex] %></td>
                      <td><%= rating[fbIndex]  %></td>
                      <td><%= rating[dateIndex] %></td>
                    </tr>
                   <% } %> 
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
          </form>
        </div>

        <!-- /.container-fluid -->
      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>

<!--
If your page additionally needs its own styling, add the styles here!
Example (warning! pseudo-syntax):

contentFor(“extrHeadArgs”) {
	stylesheetTag(“css/customstyle.css”) 
} 

(Note that in order for customstyle.css to be found, it must be inside “public/assets/css”).
 Otherwise, keep the contentFor block looking like so:

contentFor(“extrHeadArgs”) {
	
} 
-->
    <% contentFor("extraHeadArgs") { %>
	<%= stylesheetTag("css/sb-admin.css") %>
    <% } %>
